#home>#gmap {
    width: 90%;
    height: 200px;
    margin-left: 5%;
}

#home>#title {
    text-align: center;
}
#home>#slug {
    text-align: center;
    margin-top: -10px;
    padding-bottom:10px;
}

#home>#home-button {
    margin-top: 30px;
}

/*################ Park Now ################ */
.nav-menu {
    height: 30px;
}
.title {
    text-align:center;
    background-color: #92c57a;
    font-size:22px;
}
#park-now>#gmap {
    position: absolute;
    bottom: 25px;
    height: 70%;
}
.lot-details {
    padding-left: 5px;
}
.circular-button {
    top: 230px;
    right: 30px;
    border-radius: 50%;
    border-color: white;
    width: 90px;
    height: 90px;
    background-color: #92c57a;
    color: #444;
}
.parkIt {
    position: absolute;
}
.lot-address {
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}
.lot-rate {
    padding-top:5px;
}
.show-more {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: #92c57a;
    left: 0px;
}

/* ########### font-awesome ############### */
.fa-chevron-left {
    float:left;
    padding:5px;
}
.fa-home {
    position: absolute;
    top:0;
    right:0;
    padding: 5px;
}

#navigate {
    width:100%;
    height:100%;
}

#navigate > #map {
    width: 100%;
    height: 100%;
    position: relative;
}

.report-prob {
    width: 100%;
    position: fixed;
    bottom: -150px;
    background-color: #eee;
    border-top: 15px solid #ccc;
}
.slidedown {
    position: absolute;
    width: 100%;
    bottom: 110px;
    text-align: center;
}

